<div class="container">
<h1>All Users</h1>
<a href="/users/new">Sign up</a>

<% @user.each do |user| %>
  <div class="user">
    <h3><%= user.user_name %></h3>
    <% user.songs.each do |song| %>
      <%= song.title %>
    <% end %>
<p><small>Member since: <%= user.created_at %></small></p>
  </div>
<% end %>

<hr/>   
<a href="/songs">View Songs</a>
 <br>
<a href="/">Homepage</a>
</div>

