<div class="container">
  <h1><i>MUSIC PAGE SIGNUP</i></h1>
  </div>
 

<legend>
<form class="form-horizontal" method="post" action="/users/new">
  <div class="form-group">
    <label for="inputUsername" class="col-sm-4 control-label">Username:</label>
        <div class="col-sm-3">
    <input type="text" class="form-control transparent-input" name="user_name" id="inputUsername" value="<%= @user.user_name %>">
    </div>
  </div>
  <div class="form-group">
    <label for="InputEmail" class="col-sm-4 control-label">Email:</label>
        <div class="col-sm-3">
      <input type="text" class="form-control transparent-input" name="email" id="InputEmail" value"<%= @user.email %>">
      </div>
  </div> 
    <div class="form-group">
    <label for="InputPassword" class="col-sm-4 control-label">Password:</label>
            <div class="col-sm-3">
      <input type="text" name ="password" class="form-control transparent-input" id ="InputPassword" value"<%= @user.password %>">
  </div>
  <br><br>
      <div class="form-group">
    <div class="col-sm-2">
      <input class="form-control transparent-input" type="submit" class="btn btn-default"> 
      </div>
      </div>
</form>
</legend>
<br><br><br><br><br><br>

<hr>
 <h4><a href="/login">Login Here</a></h4>
<h4><a href="/songs/new">Input Songs</a></h4>
  <form class="form-horizontal" action="/users/new" method="POST">  
 
<legend>
  <div class="equalizer"></div>
</legend>

