<h1>User profile for <%= @user.user_name %></h1>

<p>
  Email: <%= @user.email %>
</p>
<p>  Username: <%=@user.user_name %>
</p>
<p>
  ID: <%= @user.id %>
</p>

<hr/>
<a href="/songs">Back to All Songs</a>
<a href="/">Homepage</a>