<!-- 
<p>
  Title: <%= @song.title %>
</p>
<h1><%= @song.title %></h1>

<p>
  Artist: <%= @song.artist %>
</p>

<p>
  < unless @song.url.empty? %><a href=<%= @song.url %>>&#9654; Listen now</a>
  <#% end %>
</p> -->

<!-- <a href="/">Homepage</a>
<br>
<a href="/login">Login here</a>
 <br>
<a href="/songs/new">Input songs Here!</a>
 <br>
<a href="/users/new">Signup Here!</a> --> 