<h2><i>SONG APP LOGIN</i></h2>
  <legend>

    <form class="form-horizontal" method="POST" action="/login">
      <div class="form-group">
        <label for="inputname" class="col-sm-3 control-label">Username:</label>
            <div class="col-sm-3">
        <input type="text" class="form-control transparent-input" name="user_name" id="inputname" placeholder="Username">
        </div>
      </div>

        <label for="inputpassword" class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-3">
        <input type="text" class="form-control transparent-input" name="password" id="inputpassword" placeholder="Password">
            </div>
      </div>
         <div class= "center-me col-sm-3">
      <input class="form-control transparent-input" type="submit" class="btn btn-default"> 

            </div>

    </form>

  </legend>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<h4><a href="/songs">Back to Songs</a></h4>
<h4><a href="/">Homepage</a></h4>
<h4> <a href=/logout>Logout</a></h4>








