
<div class="center-me">
       <% if @user %>
      <p> Welcome to the site, <%=@user.user_name %></p>
      <%end%>

  <div class="equalizer">
          

  </div>
  

    
</div>
 <div class="equalizer">

   </div>
      <div class = "artist-form">
            <h1>Songs App</h1>

              <h3><a href="/users/new">Signup</a></h3>
             <h3><a href="/login">Login</a> </h3>
             </div>