
  <div class="equalizer">
  </div>
  

    
          <div class="center-me">
          <b><h1>Songs App</h1></b>
            </div>
      <div class = "container">

              <h3><a href="/users/new">Signup</a></h3>
             <h3><a href="/login">Login</a> </h3>
             <h3><a href="/songs">View Songs</a> </h3>
             </div>
             </div>
